body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f3f4f6;
}

.layout {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #111827;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 40px;
}

.sidebar a {
    display: block;
    color: #9ca3af;
    text-decoration: none;
    padding: 10px 0;
    transition: 0.3s;
}

.sidebar a:hover,
.sidebar .active {
    color: white;
    font-weight: bold;
}

/* Main */
.main {
    flex: 1;
    padding: 30px;
}

.topbar {
    margin-bottom: 20px;
}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

.stat {
    flex: 1;
    text-align: center;
}

.stat h2 {
    margin: 10px 0 0 0;
}